/* LOGIN PAGE CSS START */
.login-wrapper{
	height:100%;
	text-align:center;	
}
.login-wrapper:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.login-logo{
  padding:10px;
  display:inline-block;
  text-align:center;
}
.page-form{
  display: inline-block;
  margin:0;
  vertical-align: middle;
  padding: 10px 15px;
  border: #E4ECEE solid 1px;
  background: #f5f5f5;
}
/* LOGIN PAGE CSS START */

/* BUTTON PAGE CSS START */
.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}


.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px !important;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px !important;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px !important;
    font-size: 24px;
    line-height: 1.33;
}
/* BUTTON PAGE CSS END */


/* IMAGE PAGE CSS START */
.font-white {
    color: #fff!important
}
.bg-black{
    color: #ccc;
    border-color: #000;
    background: #272634
}
.center-vertical {
    position: relative;
    z-index: 15;
    top: 0;
    left: 0;
    display: table;
    width: 100%;
    height: 100%
}
.center-vertical .center-content {
    display: table-cell;
    vertical-align: middle
}
.icon-helper {
  line-height: 36px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 36px;
  height: 36px;
}
.icon-br {
    top: auto;
    right: 0;
    left: auto
}
.icon-tr {
    top: 0;
    right: 0;
    bottom: auto;
    left: auto
}
.icon-center {
  font-size: 50px;
  line-height: 50px;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px;
}


.btn.btn-round {
    border-radius: 50% !important;
    padding: 0
}
.btn-round.btn-lg {
    width: 46px;
    min-width: 46px;
	height:46px;
	line-height:44px;
}
.btn-round.btn-xlg {
    width: 66px;
    min-width: 66px;
    height: 66px;
    line-height: 66px
}
.btn-round.btn-md {
    width: 34px;
	min-width: 34px;
	height:34px;
	line-height:34px;
}
.btn-round.btn-sm {
    width: 30px;
	min-width: 30px;
	height:30px;
	line-height:30px;
}
.btn-round.btn-xs {
    width: 22px;
	min-width: 22px;
	height:22px;
	line-height:22px;
}
.thumbnail-box {
    position: relative;
    overflow: hidden;
    margin: 0 0 20px
}
.thumbnail-box .thumb-content,
.thumbnail-box .thumb-link,
.thumbnail-box .thumb-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.thumbnail-box .thumb-link {
    z-index: 25
}
.thumbnail-box .thumb-content {
    z-index: 20;
    display: none
}
.thumbnail-box .thumb-overlay {
    z-index: 15;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity: 0);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    visibility: hidden
}
.thumbnail-box .thumb-overlay.bg-black {
    background: #000
}
.thumbnail-box img {
    display: block;
    width: 100%;
    position: relative;
    z-index: 10;
    transition: .3s all linear;
    -webkit-transition: .3s all linear
}
.thumbnail-box:hover img {
    transform: matrix(1.1, 0, 0, 1.1, 0, 0);
    -ms-transform: matrix(1.1, 0, 0, 1.1, 0, 0);
    -webkit-transform: matrix(1.1, 0, 0, 1.1, 0, 0)
}
.thumbnail-box:hover .thumb-overlay {
    opacity: .8;
    -moz-opacity: .8;
    filter: alpha(opacity: 80);
    visibility: visible
}
.thumbnail-box:hover .thumb-content {
    display: block
}
.thumb-heading {
    text-align: center;
    font-size: 15px;
    text-transform: uppercase
}
.thumbnail-box .thumb-heading {
    color: #fff
}
.thumb-heading small {
    display: block;
    font-size: 13px;
    opacity: .65;
    padding: 5px 0 0;
    -moz-opacity: .65;
    filter: alpha(opacity: 65);
    text-transform: none
}
.thumbnail-box .thumb-btn {
    text-align: center;
    padding: 15px
}
.thumb-btn.zoomIn {
    -webkit-animation-duration: .5s;
    animation-duration: .5s
}
.thumbnail-box-inverse .thumb-overlay {
    display: block;
    opacity: .3;
    -moz-opacity: .3;
    filter: alpha(opacity: 30);
    visibility: visible
}
.thumbnail-box-inverse:hover .thumb-overlay {
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity: 0);
    visibility: hidden
}
.thumbnail-box-inverse .thumb-content {
    display: block
}
.thumbnail-box-inverse:hover .thumb-content {
    display: none
}
.thumb-pane {
    border: 1px solid transparent;
	border-color: rgba(158,173,195,.16);
    border-top: 0;
    padding: 25px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px
}
.thumbnail-box+.thumb-pane {
    margin-top: -20px;
    margin-bottom: 20px
}

/* IMAGE PAGE CSS END */

/* VIDEO PLAYER PAGE CSS START */

.video-icon-ctn{
	position: relative;
}
.video-icon-ctn i{
	position: absolute;
	top:50%;
	left:50%;
	color:rgb(208, 47, 47);
	font-size:4em;
	margin:-25px 0 0 -20px;
	line-height:52px;
	
}
/* VIDEO PLAYER PAGE CSS END */

/* GRID PAGE CSS START */
.show-grid [class*=col-] {
  background: #e6e7e8;
  text-align: center;
  margin-bottom: 10px;
  line-height: 2em;
  border: 10px solid #f3f4f6;
}
/* GRID PAGE CSS END */

/* FILE-UPLOAD PAGE CSS START */
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.profile-avatar-wrap {
	display:table;
	width:300px;
	margin:0 auto;
    height: 250px;
    border-collapse:collapse;
    position: relative;
}
.profile-avatar-wrap img{
	width:100%;
}
.profile-avatar-wrap  input {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
}
.profile-avatar-wrap span.upload_text {
   display:table-cell;
   vertical-align:middle;
   text-align:center;
   background:url(../images/avatar/256.jpg) center center no-repeat;
}
/* FILE-UPLOAD PAGE CSS END */