/* Bootstrap css overwrite */

*,
*:before,
*:after {
    box-sizing: border-box;
}

.btn:focus,
:focus {
    outline: none !important;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: #f1f4f5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #272a31;
    padding-top: 80px;
}

a {
    color: #00c4f4;
}


/* COMMON CLASS */

.error {
    color: #a94442
}

.success {
    color: #30ba4d
}

.pos-r {
    position: relative;
}

.f-link {
    color: #00c4f4;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.display-none {
    display: none;
}

.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.display-cell {
    display: table-cell;
    vertical-align: middle;
}


/* ----------------------------MARGIN CSS */

.mr-0 {
    margin: 0!important;
}

.mr-r5 {
    margin-right: 5px!important;
}

.mr-l15 {
    margin-left: 15!important;
}

.mr-b20 {
    margin-bottom: 20px !important;
}

.mr-b30 {
    margin-bottom: 30px !important;
}


/* ----------------------------PADDING CSS */

.pd-0 {
    padding: 0!important;
}

.pd-lr {
    padding-left: 0!important;
    padding-right: 0!important;
}


/* JQUERY UI CSS */

.ui-state-active {
    background-color: #fff !important;
    color: #272a31;
}


/*---------------------------MODAL CSS */

.modal-content {
    border-color: transparent;
    box-shadow: none;
    background-color: #fdfeff;
    padding-top: 15px;
}

.modal-header {
    border-radius: 6px 6px 0 0;
    padding: 0 30px 15px;
    background-color: #fff;
}

.modal-header .modal-title {
    font-size: 15px;
    font-weight: 400;
}

.modal-header .close {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #000;
    border: 3px solid #fff;
    color: #fff;
    text-shadow: none;
    margin: -10px -10px 0 0;
    border-radius: 50%;
    opacity: 1;
    width: 26px;
    height: 26px;
    font-weight: 500;
}

.modal-body {
    padding: 30px;
}

.modal-footer {
    border: none;
    padding: 0 30px 30px;
}


/* FORM CSS */

.form-group {
    margin-bottom: 10px;
}

.input-group .input-group-btn .btn {
    height: 40px;
}

.form-control {
    height: 40px;
    border-color: #eef1f4;
    box-shadow: none;
}

input::-webkit-input-placeholder {
    color: #b8bec0 !important;
    font-size: 13px;
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: #b8bec0 !important;
    font-size: 13px;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: #b8bec0 !important;
    font-size: 13px;
}

input:-ms-input-placeholder {
    color: #b8bec0 !important;
    font-size: 13px;
}

.input-group-addon {
    background-color: #f8f8f8;
    border: 1px solid #eef1f4;
}


/* BUTTON CSS */

.btn {
    font-size: 12px;
    font-weight: 700;
    border-color: transparent;
    padding: 6px 15px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

.btn-default-grey {
    border-color: #eef1f4;
    color: #b8bec0;
    font-size: 13px;
    font-weight: 400;
    padding: 10px 15px;
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%, #f0f0f0 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0);
    /* IE6-9 */
}

.btn-success {
    background-color: #30ba4d;
}

.btn-primary {
    background-color: #00c4f4;
}

.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:active:hover {
    background-color: #0cb8e2;
    border-color: #12aacf;
}

.btn-bdr {
    border-color: #ccc;
    color: #a1a3a6;
}

.btn-link {
    color: #b8bec0;
    font-weight: 400;
}

.btn-bdr,
.btn-bdr.active,
.btn-bdr:active,
.btn-bdr[disabled],
fieldset[disabled] .btn-bdr {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-success[disabled],
.btn-success[disabled]:hover {
    background-color: #d2d4d6;
    border-color: #d2d4d6;
}


/* TOP HEADER */

#site-header {
    background-color: #fff;
}

#site-header.navbar {
    min-height: 80px;
    border-width: 0;
    margin-bottom: 0;
}

.navbar-brand {
    height: 80px;
    padding: 16px 15px;
    color: #30ba4d !important;
}

.navbar-brand > .site-name {
    float: left;
    margin-left: 15px;
}

#site-header .navbar-header .company-name {
    line-height: 47px;
    padding: 0 15px;
    margin: 17px 0;
    border-left: 1px solid #cecfd0;
    float: left;
    font-size: 16px;
    font-weight: 500;
}

#site-header .navbar-nav {
    padding: 22px 0;
}

#site-header .navbar-nav > li > a {
    padding: 0;
    color: #cecfd0;
    font-weight: 500;
    font-size: 15px;
}

#site-header .navbar-nav li a:hover,
#site-header .navbar-nav li.active a {
    color: #30ba4d;
    background-color: transparent;
}

#site-header .navbar-nav > li.profile > a {
    margin-left: 10px;
    color: #272a31;
}

#site-header .navbar-nav > li.profile > a:hover > span,
#site-header .navbar-nav > li.profile > a.active > span {
    color: #30ba4d;
}

#site-header .navbar-nav > .open > a,
#site-header .navbar-nav > .open > a:hover,
#site-header .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #30ba4d;
}

#site-header .navbar-toggle {
    padding: 0;
    border: none;
    margin-top: 27px;
    margin-bottom: 27px;
}

#site-header.navbar-toggle:hover {
    background-color: transparent;
}

#site-header .navbar-toggle .icon-bar {
    width: 40px;
    height: 3px;
    background-color: #272a31;
}

#site-header .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 8px;
}

.navbar-toggle {
    border: none;
    background: transparent !important;
}

.navbar-toggle:hover {
    background: transparent !important;
}

.navbar-toggle .icon-bar {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.navbar-toggle .top-bar {
    transform: rotate(45deg);
    -webkit- transform: rotate(45deg);
    transform-origin: 10% 10%;
    -webkit-transform-origin: 10% 10%;
}

.navbar-toggle .middle-bar {
    opacity: 0;
}

.navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform-origin: 10% 90%;
    -webkit-transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
    -webkit-transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
    -webkit-transform: rotate(0)
}


/* BOOTSTRAP SELECT */

.bootstrap-select .btn-default {
    height: 40px;
    border-color: #eef1f4;
    font-weight: 400;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
    color: #d4d4d6;
}

.create-add-link {
    font-size: 13px;
    text-decoration: none;
    display: inline-block;
    line-height: 14px;
}

.create-add-link:hover {
    text-decoration: none;
}

.add-sign {
    border: 1px solid #eef1f4;
    background-color: #fff;
    font-weight: 700;
    font-size: 10px;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    display: inline-block;
    line-height: 12px;
    text-align: center;
    margin-right: 3px;
}


/* ------------------------------------------ICONS */

i[class^="ic-"],
span[class^="ic-"] {
    display: inline-block;
    background-image: url(../images/icon_sprite.png);
    vertical-align: middle;
}

.ic-16 {
    width: 16px;
    height: 16px;
}

.ic-delete {
    background-position: 0 0;
}

.ic-email {
    background-position: 0 -21px;
}

.ic-move {
    background-position: 0 -41px;
}

.ic-edit {
    background-position: 0 -61px;
}

span[data-toggle="popover"] {
    cursor: pointer;
}

.user-popover {
    border-color: transparent;
    min-width: 276px;
}

.user-popover .popover-content {
    text-align: center;
    padding: 0;
}

.user-popover .popover-content .user-body {
    padding: 20px;
    border-bottom: 1px solid #f1f4f5
}

.user-popover .popover-content .item-name {
    font-size: 16px;
}

.user-popover .popover-content .user-body p {
    color: #b8bec0;
    margin: 0;
    font-size: 12px;
}

.user-popover .popover-content .user-body p,
.user-popover .popover-content .item-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.user-popover .popover-content .user-footer {
    padding: 8px 20px;
}


/* ------------------------------------------CUSTOM RADIIO / CHECKBOX */

.checkbox-custom,
.radio-custom {
    opacity: 0;
    position: absolute;
}

.checkbox-custom,
.checkbox-custom-label,
.radio-custom,
.radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.checkbox-custom-label,
.radio-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before,
.radio-custom + .radio-custom-label:before {
    content: '';
    border: 2px solid #636773;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    content: '\2713';
    color: #fff;
    font-size: 13px;
    border: 2px solid #30ba4d;
    background-color: #30ba4d;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    content: '\2713';
    color: #bbb;
}