/* fira_sans */

@font-face {
    font-family: 'fira_sansbold';
    src: url('../fonts/external-fonts/firasans-bold-webfont.eot');
    src: url('../fonts/external-fonts/firasans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/external-fonts/firasans-bold-webfont.woff2') format('woff2'), url('../fonts/external-fonts/firasans-bold-webfont.woff') format('woff'), url('../fonts/external-fonts/firasans-bold-webfont.ttf') format('truetype'), url('../fonts/external-fonts/firasans-bold-webfont.svg#fira_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sanslight';
    src: url('../fonts/external-fonts/firasans-light-webfont.eot');
    src: url('../fonts/external-fonts/firasans-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/external-fonts/firasans-light-webfont.woff2') format('woff2'), url('../fonts/external-fonts/firasans-light-webfont.woff') format('woff'), url('../fonts/external-fonts/firasans-light-webfont.ttf') format('truetype'), url('../fonts/external-fonts/firasans-light-webfont.svg#fira_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sansmedium';
    src: url('../fonts/external-fonts/firasans-medium-webfont.eot');
    src: url('../fonts/external-fonts/firasans-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/external-fonts/firasans-medium-webfont.woff2') format('woff2'), url('../fonts/external-fonts/firasans-medium-webfont.woff') format('woff'), url('../fonts/external-fonts/firasans-medium-webfont.ttf') format('truetype'), url('../fonts/external-fonts/firasans-medium-webfont.svg#fira_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sansregular';
    src: url('../fonts/external-fonts/firasans-regular-webfont.eot');
    src: url('../fonts/external-fonts/firasans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/external-fonts/firasans-regular-webfont.woff2') format('woff2'), url('../fonts/external-fonts/firasans-regular-webfont.woff') format('woff'), url('../fonts/external-fonts/firasans-regular-webfont.ttf') format('truetype'), url('../fonts/external-fonts/firasans-regular-webfont.svg#fira_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}