/* AUTH */

.auth-wrapper {
    max-width: 440px;
    padding: 15px;
    margin: 0 auto;
}

.auth-form-ctn {
    background-color: #fff;
    border-radius: 5px;
    margin-top: 50px;
}

.auth-form-inner {
    padding: 20px 15px 20px;
    background-color: #fdfeff;
    border-radius: 0 0 5px 5px;
}

.auth-form-heading {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    border-bottom: 1px solid #eef1f4;
    padding: 16px 0 12px;
    margin: 0;
}

.auth-links {
    font-size: 13px;
    line-height: 30px;
}


/* -------------------------------------------------------AVATAR COMMON WRAPPER */

.avatar-photo-wrap {
    border: 2px dashed #e3e4e5;
    border-radius: 5px;
    color: #a1a3a6;
    text-align: center;
    position: relative;
    min-height: 84px;
}

.avatar-photo-wrap > p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 1;
}

.avatar-photo-wrap > img {
    width: 100%;
    position: relative;
    z-index: 2;
}

.avatar-photo-wrap .btn-file,
.company-wrapper .btn-file {
    padding: 0;
    color: #00c4f4;
    text-decoration: underline;
    box-shadow: none;
}


/* -----------COMPANY PHOTO WRAPPER */

.company-wrapper .change-button {
    margin-top: 15px;
    display: none;
}

.company-wrapper .btn-success[disabled] {
    background-color: #d2d4d6;
}


/* -----------CSV UPLOAD WRAPPER */

#uploadCsvModal .modal-header {
    padding: 0;
    min-height: auto;
    border: none;
}

#uploadCsvModal .modal-body .selected-file {
    display: block;
    text-align: center;
    margin-bottom: 5px;
}


/*-----------------------------------------------------------------SETTING CSS */

.setting-wrapper {
    padding: 15px;
    margin: 20px auto;
    max-width: 500px;
}

.setting-img-ctn {
    padding-bottom: 30px;
}

.setting-img-ctn .upload-img-left {
    float: left;
    padding-right: 20px;
}

.setting-img-ctn .upload-img-right {
    overflow: hidden;
    padding: 15px 0;
}

.setting-wrapper .change-pass-heading {
    font-weight: 400;
    font-size: 20px;
    padding: 15px 0;
}


/*------------------------------DASHBOARD CSS */

.page-wrapper {
    padding: 71px 0 0 0;
    position: relative;
    min-height: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.page-wrapper .page-heading-ctn {
    position: fixed;
    width: 100%;
    right: 0;
    padding: 20px 15px;
    background-color: #f1f4f5;
    top: 80px;
    z-index: 5;
}

.page-heading-ctn .page-heading {
    font-weight: 300;
    font-size: 20px;
    color: #272a31;
    margin: 0;
    line-height: 30px;
}


/* SIDEBAAR */

.left-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    padding-top: 80px;
    background-color: #272a31;
    z-index: 3;
    display: none;
}

.sidebar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5px 0 35px;
}

.sidebar .sidebar-scroll-ctn {
    height: 100%;
}

.mCSB_inside > .mCSB_container {
    margin-right: 10px;
}

.sidebar-ul {
    padding: 0 5px;
    list-style: none;
    margin: 0;
}

.sidebar-item {
    margin: 5px 0;
    list-style-type: none;
}


/* SIDEBAR ITEM WHEN DRAG*/

body > .sidebar-item.ui-draggable-dragging {
    min-width: 25%;
}

.sidebar-item:hover {
    cursor: move;
}

.sidebar-item .sidebar-content {
    padding: 15px 10px 15px 15px;
    border-radius: 5px;
    background-color: #2d3039;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.sidebar-item .sidebar-content .user-left {
    padding-right: 10px;
    float: left;
}

.sidebar-item .sidebar-content .user-setting-icon {
    color: #52555a;
    padding: 8px 0 8px 10px;
}

.sidebar-item .sidebar-content .user-right {
    overflow: hidden;
}

.sidebar-item .sidebar-content .user-right h5 {
    color: #fff;
    line-height: 18px;
}

.sidebar-item .sidebar-content .user-right p {
    color: #636773;
    font-size: 13px;
}

.sidebar-item .sidebar-content .user-right h5,
.sidebar-item .sidebar-content .user-right p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main-content {
    position: relative;
    height: 100%;
    padding: 20px 0;
}

.dashboard-wrapper .dash-add-user {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.dashboard-wrapper .dash-add-user .btn {
    border-radius: 0;
}

.dashboard-wrapper .dash-empty-ctn,
.page-wrapper .dash-empty-ctn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.dashboard-wrapper .dash-empty-text {
    color: #a1a3a6;
}

#team-creation-ctn {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(241, 244, 245, .9);
    z-index: 4;
    display: none;
}

#team-drop-area {
    border: 2px dashed #30b94d;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    background-color: rgba(241, 244, 245, .5);
}

#team-drop-area .drop-text {
    color: #a1a3a6;
    margin: 0;
}

#team-drop-area .drop-cancel {
    color: #d3d4d5;
    margin: 0;
}

#team-list-ctn {
    position: relative;
    min-height: 100%;
    padding-bottom: 20px;
}

#team-list-ctn .teams-list-wrapper {
    border: 1px solid #e8eced;
    border-radius: 5px;
}

#team-list-ctn .teams-list-wrapper + .teams-list-wrapper {
    margin-top: 15px;
}

#team-list-ctn .teams-list {
    margin-bottom: 0;
    list-style: none;
    position: relative;
}

#team-list-ctn .teams-list + .teams-list {
    margin-top: 20px;
}

#team-list-ctn .teams-list > li {
    padding: 15px 20px;
}

#team-list-ctn .teams-list > li.team-manager {
    background-color: #fff;
    border-radius: 5px;
}

#team-list-ctn .teams-list > li .user-left {
    padding-right: 10px;
    float: left;
}

#team-list-ctn .teams-list > li .user-right {
    overflow: hidden;
}

#team-list-ctn .teams-list > li .user-right .done {
    position: relative;
    z-index: 3;
}

#team-list-ctn .teams-list > li .user-right .name {
    font-size: 13px;
    margin: 0;
    line-height: 18px;
}

#team-list-ctn .teams-list > li .user-right .designation {
    color: #b8bec0;
    font-size: 12px;
    margin: 0;
}

#team-list-ctn .teams-list > li.team-manager .action-col {
    padding: 2px 0;
}

#team-list-ctn .teams-list > li.team-manager .action-col .dropdown-menu {
    right: 0 !important;
    left: auto;
}

.user-creation-ctn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: rgba(241, 244, 245, .5);
    min-height: 200px;
    display: none;
    padding-top: 65px;
}

.user-drop-area {
    border: 2px dashed #c9cccf;
    border-radius: 5px;
    padding: 30px 15px;
    background-color: rgba(241, 244, 245, 1);
}


/* ITEM LIST */

.item-list-hover .item-list-inner:hover {
    background-color: #d9e7eb;
    cursor: pointer;
}

.item-list-ctn,
{
    list-style: none;
}

.item-list-ctn .item-list-inner {
    padding: 10px 0;
}

.item-no-img .item-list-inner {
    padding: 20px 0;
}

.item-list-ctn .item-list-inner + .item-list-inner {
    border-top: 1px solid #e8eced;
}

.item-list-ctn .item-row li {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.item-list-ctn .item-row li.item-info .item-left {
    padding-right: 10px;
    float: left;
}

.item-list-ctn .item-row li.item-info .item-right {
    overflow: hidden;
}

.item-list-ctn .item-row li.item-info .item-right .name {
    font-size: 13px;
    margin: 0;
    line-height: 18px;
}

.item-list-ctn .item-row li.item-info .item-right .designation {
    color: #b8bec0;
    font-size: 12px;
    margin: 0;
}

.item-list-ctn .item-row li.item-info a {
    float: left;
}

.item-list-ctn .item-row li a + a {
    margin-left: 15px;
}

.item-list-ctn .item-row li.department {
    font-size: 12px;
    color: #b8bec0;
}

.item-list-ctn .item-row li.email {
    font-size: 12px;
    color: #00b2ee;
}

.item-list-ctn .item-row li a.edit {
    color: #b8bec0;
}

.item-list-ctn .item-row li a.edit:hover {
    color: #00c4f4;
    text-decoration: none;
}

.item-list-ctn .item-row li a.delete:hover .ic-delete {
    background-position: -21px 0;
}

.item-list-ctn .item-row li a.edit:hover .ic-edit {
    background-position: -21px -61px;
}


/* CREATE USER MODAL CSS */

#createUserModal {
    overflow-y: scroll
}


/* -------------------------------------------------ASSIGN USER CSS */

#assign-user-ul {
    overflow-y: auto;
    height: 200px;
    background-color: #272a31;
    list-style: none;
    border-radius: 5px;
}

#assign-user-ul .assign-item {
    border-bottom: 1px solid #34373f;
    padding: 14px 0;
}

#assign-user-ul .assign-item .user-left {
    padding-right: 10px;
    float: left;
}

#assign-user-ul .assign-item .user-setting-icon {
    color: #52555a;
    padding: 8px 0 8px 10px;
}

#assign-user-ul .assign-item .user-right {
    overflow: hidden;
}

#assign-user-ul .assign-item .user-right h5 {
    color: #fff;
    line-height: 18px;
}

#assign-user-ul .assign-item .user-right p {
    color: #636773;
    font-size: 13px;
}

#assign-user-ul .assign-item .user-right h5,
#assign-user-ul .assign-item .user-right p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* EFFECTIVE ACTION CSS */

#effective-list-ctn {
    margin-bottom: 20px;
}

#effective-list-ctn .effective-list-wrapper {
    border: 1px solid #e8eced;
    border-radius: 5px;
}

#effective-list-ctn .effective-list-wrapper + .effective-list-wrapper {
    margin-top: 15px;
}

#effective-list-ctn .effective-list {
    margin-bottom: 0;
    list-style: none;
    position: relative;
}

#effective-list-ctn .effective-list + .effective-list {
    margin-top: 20px;
}

#effective-list-ctn .effective-list li {
    padding: 20px 15px;
}

#effective-list-ctn .effective-list li.effective-heading-ctn {
    background-color: #fff;
    border-radius: 5px;
}

#effective-list-ctn .effective-list li .heading {
    padding-right: 10px;
    float: left;
    font-size: 16px;
    margin: 0;
}

#effective-list-ctn .effective-list li .effective-right {
    overflow: hidden;
}

#effective-list-ctn .effective-list li .effective-right {
    overflow: hidden;
}

#effective-list-ctn .effective-list li .effective-right .action-col .btn + .btn {
    padding-left: 10px !important;
}


/* EFFECTIVE ACTION MODAL CSS */

.effectiveModal form .new-job-link {
    font-size: 12px;
    color: #b8bec0;
    text-align: center;
    margin: 0;
}


/* CREATE MANAGE UPLOAD MODAL CSS */

#manage-wrapper #uploadimagesubmit.btn-success {
    background-color: #30ba4d !important;
}

#manage-popup-img-wrapper .popup-img-ctn {
    float: left;
    margin: 10px 10px 0 0;
}

#manage-popup-img-wrapper .popup-img-ctn .selected-file {
    margin-bottom: 5px;
}

#manage-popup-img-wrapper .img-thumnail-ctn {
    float: left;
    position: relative;
}

#manage-popup-img-wrapper .img-thumnail-ctn .img-delete {
    position: absolute;
    right: -6px;
    top: -8px;
    border-radius: 50%;
    background-color: #000;
    border: 2px solid #fff;
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

#manage-popup-img-wrapper .img-thumnail-ctn + .img-thumnail-ctn {
    margin-left: 15px;
}


/* CREATE MANAGE UPLOAD MODAL CSS */

#manage-img-list >li {
    border-bottom: 1px solid #e8eced;
    padding-bottom: 10px;
}

#manage-img-list >li +li {
    margin-top: 15px;
}

.manage-img-ctn {
    background-color: #000;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 180px;
    border-radius: 5px;
    position: relative;
    margin: 0 auto;
}

.manage-img-ctn .btn-file {
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 0 0 5px 5px;
    display: none;
}

.manage-form-ctn {
    overflow: hidden;
}

.manage-form-ctn .form-control[disabled],
.manage-form-ctn .form-control[readonly] {
    background-color: #fff;
}

.manage-form-ctn .form-control[disabled]:focus,
.manage-form-ctn .form-control[readonly]:focus {
    border-color: transparent;
    outline: 0;
    box-shadow: none;
}

.manage-form-ctn .section-one,
.manage-form-ctn .section-second {
    width: 100%;
    float: left;
}

.manage-form-ctn .form-group label {
    color: #b8bec0;
    font-weight: normal;
}

.manage-row-delete {
    text-align: center;
    display: block;
}

.manage-row-delete:hover .ic-delete {
    background-position: -21px 0;
}


/* ERROR PAGE */

.error-description {
    padding-top: 30px;
}

.error-title {
    font-size: 42px;
}