@media (min-width: 320px) {
    .auth-center-ctn {
        margin-top: 75px;
    }
    /* ---------------------------------------------------------------------------------------------TOP HEADER */
    #site-header .navbar-header .company-name {
        width: 180px;
    }
}

@media (min-width: 480px) {
    .auth-wrapper {
        width: 440px;
    }
    /* ---------------------------------------------------------------------------------------------TOP HEADER */
    #site-header .navbar-header .company-name {
        width: auto;
    }
    .manage-img-ctn {
        float: left;
        margin: 0 20px 0 0;
    }
    .manage-row-delete {
        line-height: 180px;
        float: right;
    }
    .manage-form-ctn .section-one {
        width: 66.66666667%;
        float: left;
    }
    .manage-form-ctn .section-second {
        width: 33.33333333%;
        float: left;
    }
}

@media (max-width: 767px) {
    #mobilecreateTeam {
        display: inline-block !important;
    }
}

@media (min-width: 768px) {
    /* SIDEBAR */
    .left-sidebar {
        display: block;
    }
    /* Dashboard */
    .team-wrapper,
    .dashboard-wrapper .dash-empty-ctn {
        padding-left: 25%;
    }
    .team-wrapper .page-heading-ctn {
        width: 75%;
    }
    .page-heading-ctn .page-heading {
        font-size: 26px;
    }
}

@media (min-width: 992px) {
    .auth-center-ctn {
        height: 100%;
        width: 100%;
        position: absolute;
        display: table;
        margin: 0;
    }
    .auth-wrapper {
        display: table-cell;
        vertical-align: middle;
    }
    /* ---------------------------------------------------------------------------------------------TOP HEADER */
    #site-header .navbar-nav > li > a {
        line-height: 36px;
        margin-right: 50px;
        padding: 0;
        color: #cecfd0;
        font-weight: 500;
        font-size: 15px;
    }
    #site-header .navbar-nav li:nth-last-child(2) a {
        margin-right: 35px;
    }
    #site-header .navbar-nav > li.profile > a {
        margin-right: 15px;
    }
}

@media (max-width: 991px) {
    /* ---------------------------------------------------------------------------------------------TOP HEADER */
    #site-header .navbar-nav > li > a {
        padding: 15px;
    }
    #site-header .container-fluid > .navbar-collapse {
        margin-right: -15px;
        margin-left: -15px;
    }
    #site-header .navbar-collapse {
        border-top: 1px solid transparent;
    }
    #site-header .navbar-toggle {
        display: block;
    }
    #site-header .navbar-collapse.collapse {
        display: none !important;
    }
    #site-header .collapse.in {
        display: block !important;
    }
    #site-header .navbar-header {
        display: block;
        float: none;
    }
    #site-header .navbar-right {
        display: block;
        float: none !important;
        text-align: center;
        -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
        margin-bottom: 2px;
    }
    #site-header .navbar-nav > li {
        display: block;
        float: none;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 100%;
    }
    .item-list-full .item-list-inner {
        margin-right: -15px;
        margin-left: -15px;
    }
}